code[class*='language-'],
pre[class*='language-'] {
  color: theme(colors.flamingo.DEFAULT);
  font-family: 'MonoLisa Nerd Font', 'Fira Code', 'JetBrains Mono', 'Cascadia Code', Consolas,
    Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

.prose :where(pre):not(:where([class~='not-prose'] *)) {
  /* Your styles here */
  background-color: theme(colors.mantle.DEFAULT); /* Example style */
  padding: 24px; /* Example style */
  border-radius: 8px; /* Example style */
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: theme(colors.subtext0.DEFAULT);
}

.token.punctuation {
  color: theme(colors.pink.DEFAULT);
  font-weight: bold;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: theme(colors.pink.DEFAULT);
}

.token.boolean,
.token.number {
  color: theme(colors.lavender.DEFAULT);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: theme(colors.green.DEFAULT);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: theme(colors.red.DEFAULT);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: theme(colors.yellow.DEFAULT);
}

.token.keyword {
  color: theme(colors.teal.DEFAULT);
  font-style: italic;
}

.token.regex,
.token.important {
  color: theme(colors.peach.DEFAULT);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
